.xy{
    background-color: rgb(31, 235, 235);
    height: 400px;
    width: 400px;
    margin: 40px;
    float: left;

}

#yz{

    background-color: rgb(111, 223, 6);
    height: 400px;
    width: 1000px;
    margin: 40px;
    float: left;
}

#d{

    background-color: blueviolet;
    height: 400px;
    width: 400px;
    margin: 40px;
    float:left;
}

#d2{
    background-color: brown;
    height: 400px;
    width: 400px;
    margin:40px ;
    float: left;
}

#d3{
    background-color: black;
    height: 400px;
    width: 400px;
    margin: 40px;
    float:left ;
}